# Mobile phone price_6thQuestion

In [8]:
import numpy as np
import pandas as pd

In [9]:
data= pd.read_csv('Z:\y21cs174\Data Analysis Lab\Mobile phone price_6thQuestion.csv')
data.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

# a)	Identify the models & the price released by each brand.

In [10]:
print(data[['Model','Price ($)']])

                 Model Price ($)
0        iPhone 13 Pro       999
1     Galaxy S21 Ultra      1199
2                9 Pro       899
3    Redmi Note 10 Pro       279
4              Pixel 6       799
..                 ...       ...
402   Galaxy Note20 5G      1049
403      Mi 10 Lite 5G       349
404  iPhone 12 Pro Max      1099
405              Reno3       429
406    Galaxy S10 Lite       649

[407 rows x 2 columns]

# b)	Identify the correlation between Battery Capacity and price.

In [11]:
data.dtypes

Brand                     object
Model                     object
Storage                   object
RAM                       object
Screen Size (inches)      object
Camera (MP)               object
Battery Capacity (mAh)     int64
Price ($)                 object
dtype: object

In [12]:
import re    # regular expressions module

pattern = re.compile(r"[^\d]")  # characters that are not [0-9] are replaced

data['price'] = data['Price ($)'].str.replace(pattern, '')

data['price'] = pd.to_numeric(data['price'])      # to explicitly convert the datatype

print(data.dtypes)

Brand                     object
Model                     object
Storage                   object
RAM                       object
Screen Size (inches)      object
Camera (MP)               object
Battery Capacity (mAh)     int64
Price ($)                 object
price                      int64
dtype: object

In [13]:
correlation = data['Battery Capacity (mAh)'].corr(data['price'])  
correlation

-0.39658137643652003

# c)	Find how many models are there per each Battery capacity with same price.

In [14]:
data.groupby(['Battery Capacity (mAh)','price'])['Model'].count()

Battery Capacity (mAh)  price
1821                    399      4
                        449      1
2227                    699      2
                        899      1
2691                    699      1
                                ..
6000                    349      1
                        379      1
                        999      1
7000                    429      1
                        449      1
Name: Model, Length: 179, dtype: int64

# d)	Count the number of models in each brand with highest storage. Draw the graph.

In [24]:
data.groupby(['Brand'])['Model'].count()

Brand
Apple         30
Asus           4
Blackberry     3
CAT            1
Google         7
Huawei        12
LG             3
Motorola      23
Nokia         28
OnePlus       15
Oppo          56
Realme        43
Samsung       79
Sony           1
Vivo          35
Xiaomi        67
Name: Model, dtype: int64

In [30]:
import matplotlib.pyplot as plt
data['Storage ']=data['Storage '].str.replace("GB","").astype(int)
g=data.groupby("Brand")['Storage '].max()
dat={}

for k,v in g.items():
    dat[k]=data[[data["Brand"]==k] & [data['Storage ']==v]]['Brand'].count()

AttributeError: Can only use .str accessor with string values!

# e)	Identify how many models are released by each brand.

In [31]:
data.groupby(["Brand"])['Model'].count()

Brand
Apple         30
Asus           4
Blackberry     3
CAT            1
Google         7
Huawei        12
LG             3
Motorola      23
Nokia         28
OnePlus       15
Oppo          56
Realme        43
Samsung       79
Sony           1
Vivo          35
Xiaomi        67
Name: Model, dtype: int64

# f)	Find the RAM capacity of all models of every brand.

In [34]:
data[["Brand","Model","RAM "]]

       Brand              Model   RAM
0      Apple      iPhone 13 Pro   6 GB
1    Samsung   Galaxy S21 Ultra  12 GB
2    OnePlus              9 Pro   8 GB
3     Xiaomi  Redmi Note 10 Pro   6 GB
4     Google            Pixel 6   8 GB
..       ...                ...    ...
402  Samsung   Galaxy Note20 5G      8
403   Xiaomi      Mi 10 Lite 5G      6
404    Apple  iPhone 12 Pro Max      6
405     Oppo              Reno3      8
406  Samsung    Galaxy S10 Lite      6

[407 rows x 3 columns]

# g)	Identify the correlation between Battery Capacity and price

In [35]:
lst = []                  # diff approach
for i in data['Price ($)']:
    if ',' in i:
        i = i.replace(',', '')
    if '$' in i:
        lst.append(int(i[1:]))
    else:
        lst.append(int(i))
data['Price'] = lst
data['Battery Capacity (mAh)'].corr(data['Price'])

-0.39658137643652003

# h)	Find how many models are there per each Battery capacity.

In [39]:
data.groupby(["Battery Capacity (mAh)"])["Model"].count()

Battery Capacity (mAh)
1821      5
2227      3
2691      1
2800      1
2815      5
2942      5
3000      1
3095      1
3110      4
3174      1
3300      2
3340      1
3500      4
3687      1
3885      1
3969      3
4000     34
4025      1
4080      3
4100      1
4115      1
4160      1
4200      8
4230      6
4250      6
4300      7
4310     10
4350      1
4352      1
4400      1
4450      1
4470      1
4500     46
4510      1
4520      1
4600      2
4614      1
4630      2
4800      1
4820      2
4850      1
4950      3
5000    159
5020     14
5050      3
5160      7
6000     40
7000      2
Name: Model, dtype: int64

# i)	Calculate average price of each brand.

In [43]:
data.groupby(["Brand","Price ($)"]).mean()

C:\Users\y21cs174\AppData\Local\Temp\ipykernel_21344\964098182.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(["Brand","Price ($)"]).mean()

                  Storage   Battery Capacity (mAh)   price   Price
Brand  Price ($)
Apple  $799          128.0                  2815.0   799.0   799.0
       1099          243.2                  3753.6  1099.0  1099.0
       1299          256.0                  4352.0  1299.0  1299.0
       399            64.0                  1821.0   399.0   399.0
       449           128.0                  1821.0   449.0   449.0
...                    ...                     ...     ...     ...
Xiaomi 369           128.0                  4250.0   369.0   369.0
       399           128.0                  4250.0   399.0   399.0
       529           128.0                  4520.0   529.0   529.0
       599           192.0                  5000.0   599.0   599.0
       749           256.0                  4600.0   749.0   749.0

[258 rows x 4 columns]

# j)	Find which mobile brand has highest price.

In [47]:
br= data['Price ($)'].max()
data["Brand"][(data["Price ($)"]==br)]

0        Apple
6      Samsung
323    OnePlus
342     Huawei
351    Samsung
363    Samsung
376     Huawei
384      Apple
Name: Brand, dtype: object